.marked__paper__container{
    .paper-form{
        margin: 20px 0;
    }
    .el-form-item--small.el-form-item{
        margin-bottom: 0;
    }
    .el-form--inline .el-form-item{
        margin-right: 0;
    }
    .el-range-editor--small.el-input__inner{
        width: 250px;
    }
}
.arrange__dialog{
    .el-dialog__body{
        padding: 20px;
    }
}
