.veln__audio__player {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;

    .veln__audio__player__key {
        width: 50px;
        text-align: center;
    }

    .veln__player__wrapper {
        height: 100%;
        padding: 96px 0 50px 0;
        box-sizing: border-box;
    }

    .veln__player__opt {
        position: absolute;
        top: -15px;
        right: 246px;
        z-index: 99;
        width: 96px;
        height: 192px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("./images/play@1x.png");
        background-image: image-set(url('./images/play@1x.png') 1x, url('./images/play@2x.png') 2x);
        background-image: -wekbit-image-set(url('./images/play@1x.png') 1x, url('./images/play@2x.png') 2x);
        transform-origin: right top;
        transform: rotate(-45deg);
        transition: 0.5s all;

        &.active {
            transform: rotate(0deg);
        }
    }

    .veln__audio__film {
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 80%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("./images/audio_bg@1x.png");
        background-image: image-set(url('./images/audio_bg@1x.png') 1x, url('./images/audio_bg@2x.png') 2x);
        background-image: -wekbit-image-set(url('./images/audio_bg@1x.png') 1x, url('./images/audio_bg@2x.png') 2x);

        &.rotation {
            animation: rotate 10s infinite linear;
            transform-origin: center center;
        }

        .audio__bg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .veln__audio__controls {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 50px;
        bottom: 0;
    }

    .operation__icon {
        cursor: pointer;
        color: #D8D8D8;
        font-size: 15px;
        vertical-align: -2px;
    }

    .qgu-audio__time {
        display: inline-flex;
        color: #AAAAAA;
        margin-left: 20px;
        text-align: center;
    }

    .qgu-audio__current,
    .qgu-audio__duration {
        min-width: 40px;
        text-align: center;
        padding: 0 5px;
    }
}
