.error__template__link {
    padding: 20px;
    font-size: 0;

    .error__template__label {
        font-size: 14px;
        vertical-align: middle;
    }

    .error__template__btn {
        margin-top: 20px;
        text-align: center;
    }
}