.veln__tags {
    .el-tag {
        margin-right: 10px;
    }

    .button-new-tag {
        height: 32px;
        padding: 0 5px;
        min-width: 65px;
    }
    .el-tag--small {
        height: 32px;
        padding: 0 8px;
        line-height: 30px;
    }

    .input-new-tag {
        width: 90px;
        height: 32px;
        vertical-align: 0;
        border-radius: 2px;
        .el-input__inner {
            height: 32px;
        }
    }
}