.fixed__btn__list {
    margin: 0 20px 20px;
}

.paper__fixed__block {
    .question__order {
        width: 80px;
    }

    .question__analysis {
        .exam__content__block {
            padding-left: 22px;
        }
    }
}