.veln__file__audio {
    height: 440px;
    padding: 10px 8px 0;
    display: flex;
    flex-direction: column;

    .vfv__header__category {
        width: 252px;
    }

    .search__input__wrapper {
        width: 252px !important;
    }

    .vfv__header .vfs__search {
        margin-left: 35px;
    }

    .vfa__container {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 11px;
        padding: 6px 16px 1px;
    }

    .vfa__item {
        width: 252px;
        height: 88px;
        border: 1px solid #F0F0F0;
        border-radius: 2px;
        box-sizing: border-box;
        padding: 16px;
        margin-right: 28px;
        margin-bottom: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        transition: all .3s ease;
        position: relative;

        &.active {
            border: 1px solid $primary;

            &::after {
                content: '';
                display: block;
                width: 250px;
                height: 86px;
                position: absolute;
                top: 0;
                left: 0;
                border: 1px solid $primary;
                z-index: 0;
            }
        }

        &:hover {
            transform: translateY(-6px);
            box-shadow: 0 26px 40px -24px rgba(213, 219, 229, 1);
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    .vfa__item--left {
        flex: 1;
        position: relative;
        z-index: 10;
        overflow: hidden;
    }

    .vfa__item--right {
        width: 60px;
        margin-left: 17px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        z-index: 10;
    }

    .vfa__item__name {
        height: 20px;
        line-height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 16px;
    }

    .vfa__item__info {
        color: $textSub;
    }

    .vfa__item__loading {
        padding: 10px 0;

        &.active {
            @include font_primary();
            cursor: pointer;
        }

        &:hover {
            @include font_primary();

            .vfa__play__icon {
                @include font_primary();
            }
        }
    }

    .vfa__play__icon {
        color: $textSub;
    }

    .vfa__item__icon {
        display: inline-block;
        width: 18px;
        height: 22px;
        background-image: url('../../images/icons.png');
        background-image: -webkit-image-set(url('../../images/icons.png') 1x, url('../../images/icons@2x.png') 2x, url('../../images/icons@3x.png') 3x);
        background-size: 76px;
        background-repeat: no-repeat;
        vertical-align: -6px;
        margin-right: 2px;
        background-position: 0 0;
    }
}
