.veln__transfer__right {
    display: flex;
    flex-direction: row;
    width: 596px;
    height: 440px;

    .veln__transfer--left,
    .veln__transfer--right {
        width: 516px;
        height: 440px;
        border: 1px solid $borderColor;
    }

    .veln__transfer--center {
        width: 100px;
        height: 440px;
        margin-right: 20px;
    }

    .veln__transfer__header {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid $borderColor;
        padding: 0 16px;
        overflow: hidden;
    }

    .transfer__title {
        font-size: 14px;
        color: #333333;
        font-weight: bold;
    }

    .veln__transfer__header__wrapper {
        position: relative;
        overflow: hidden;
    }

    .vts__search {
        position: absolute;
        left: 421px;
        top: 0;
        transition: all .15s;

        &.active {
            left: 0;
        }
    }

    .veln__transfer__main {
        padding: 0 12px;
        &.page--none {
            .veln__transfer__list {
                height: 398px;
                overflow-y: auto;
            }
        }
    }

    .veln__transfer--center {
        text-align: center;
        padding-top: 140px;

        .vt__btn {
            min-width: 64px;
            width: 64px;
            height: 27px;
            padding: 0;
            margin-left: 0;
            margin-bottom: 31px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
