.comment__wrapper {
    flex: 1;
    margin: 10px 0;
    overflow: auto;

    .comment__content {
        min-height: 480px;
        margin-right: 20px;
        padding: 20px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.1);
    }


    .el-textarea__inner {
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid #333333;
        border-radius: 2px;
        font-size: 14px;
        color: #999999;
    }

    .el-input__count{
        background: transparent;
        font-size: 14px;
        color: #999999;
    }

    textarea::-webkit-input-placeholder {
        color: #999999;
    }

    .comment__button {
        margin: 10px 0 19px 0;
    }

    .comment__label {
        display: inline-block;
        font-size: 14px;
        color: $white;
        font-weight: normal;
    }

    .start__list {
        margin: 10px 0 20px 0;
    }

    .start__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        label {
            font-weight: normal;
            font-size: 14px;
            color: #999999;
            margin-right: 10px;
        }
    }

    .el-icon-star-off {
        color: $borderColor !important;
    }

    .el-icon-star-on {
        color: rgba(255, 255, 255, 1) !important;
    }
}

.comment__content {
    /deep/ .el-textarea__inner:focus, .el-textarea__inner:hover {
        border-color: #ffffff !important;
    }
}
