.judge-container{
    .el-tabs__nav-scroll {
        height: 55px;
        line-height: 55px;
    }
    .el-tab-pane {
        padding: 0 20px;
    }
    .el-tabs__header {
        margin: 0;
    }
    .el-form .el-input--small{
        width: 240px !important;
    }
}
