$white: #FFFFFF;
$green: #25b864;

$bg: #F5F5F5;
$lineColor: #CACACA;

// arrow
$arrowBg: #f5f5f7;

// btn
$btnPrimary: #409EFF;
$btnDisabled: #BBBBBB;

// fontsize
$fsSmall: 12px;
$fsPrimary: 14px;

$textPrimary: #333333;
