.class-category {
    position: relative;

    .school-info {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $borderColor;
    }

    .school-info__name {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 5px;
    }

    .school-info__period {
        font-size: 12px;
        color: $textTips;
    }

    .category__icon {
        position: absolute;
        top: 66px;
        right: 10px;
        @include bg_primary();
        padding: 4px;
        color: $white;
        border-radius: 2px;

        &:hover {
            opacity: .75;
        }
    }
}
