.veln__papers{
    padding: 20px;
    .el-form{
        width: 99%;
    }
    .veln__paper__btn{
        width: 99%;
        margin: 20px 0;
        text-align: right;
    }
    .el__form-margin{
        margin-right: 0;
    }
}
