.veln__address__container {
    .el-form .el-input--small {
        width: 200px;
    }

    .el__form__address__item {
        .el-input--small {
            width: 300px;
        }
    }

    .el-form-item {
        margin-bottom: 0;
    }

    .veln__address__province,
    .veln__address__city {

        .el-form-item__content,
        .el-select {
            width: 143px;
        }
    }
}