// 能量石详情
.stone-detail-container {
    padding: 20px;

    .el-form-item__label {
        &:before {
            width: 0;
            content: none;
        }
    }

    .el-form--inline .el-form-item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}
