.veln__audio__player__wrapper {
    position: relative;
    flex: 1;
    height: 4px;
    background: #666666;
}

.veln__audio__player__progress {
    position: relative;
    height: 100%;
    @include bg_primary();
    border-radius: 4px;
}

.veln__audio__player__bar {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    @include bg_assistant();
    top: -6px;
    right: -7px;

    &:before {
        position: absolute;
        display: inline-block;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        @include bg_primary();
        top: 3px;
        left: 3px;
        opacity: 1;
    }
}
