body .search-form {
    .el-form-item__label {
        width: 100px;
    }

    .el-input__inner {
        width: 240px;
    }

    .el-input--small {
        width: 240px;
    }

    .el-date-editor--datetimerange {
        width: auto;
    }
}
