$blue-bgk: #324157;
$light-blue-bgk: #3A71A8;
$red-bgk: #C03639;
$pink-bgk: #E65D6E;
$green-bgk: #30B08F;
$tiffany-bgk: #D5F0F0;
$yellow-bgk: #FEC171;
$panGreen-bgk: #30B08F;
$bg-bgk: #ECECEC;
$transparent-bgk: transparent;
$white-bgk: #FFFFFF;
$normalBgColor-bgk: #F7F7F7;
$error-bgk: #FF6600;

// button
$primary-bgk: #007BD3;
$assistant-bgk: #46BEC4;
$btnPrimary-bgk: #007BD3;
$btnPrimaryHover-bgk: #3395dc;
$btnPrimaryActive-bgk: #006fbe;
$btnDefaultText-bgk: #333333;
$btnDefaultBorder-bgk: #DDDDDD;
$btnDefaultBg-bgk: #FFFFFF;
$btnDefaultHoverText-bgk: #007BD3;
$btnDefaultHoverBorder-bgk: #007BD3;
$btnDefaultHoverBg-bgk: #ffffff;
$btnDefaultActiveText-bgk: #006fbe;
$btnDefaultActiveBorder-bgk: #006fbe;
$btnDefaultActiveBg-bgk: #ffffff;
$btnDisabledActiveText-bgk: #CCCCCC;
$btnDisabledActiveBorder-bgk: #D9D9D9;
$btnDisabledActiveBg-bgk: #F7F7F7;
$btnRadius-bgk: 2px;
$btnMinWidth-bgk: 76px;
$btnTextMinWidth-bgk: 20px;

$searchBtnColor-bgk: #BBBBBB;

//sidebar
$menuBg-bgk: #20222A;
$subMenuBg-bgk: #1F2327;
$menuHover-bgk: #46BEC4;
$menuHoverText-bgk: #007BD3;
$menuActive-bgk: #E9FBFC;
$menuActiveText-bgk: #007BD3;

// table
$tableHead-bgk: #F7F7F7;
$tableGreen-bgk: #F4F9F9;
$tableHover-bgk: #E0F2F2;

//text
$textPrimary-bgk: #333333;
$textSub-bgk: #666666;
$textTips-bgk: #999999;

// border
$borderColor-bgk: #F0F0F0;
$qrBorderColor-bgk: #CCCCCC;
// tree
$treeArrowColor-bgk: #595959;
$treeItemHeight-bgk: 32px;

$tagBg-bgk: #e6f2fb;
$tipColor-bgk: #8E8E8F;

$interBg-bgk: #F9F9F9;

//rank
$rankFirst-bgk: #E42A18;
$rankSecond-bgk: #FF7000;
$rankThird-bgk: #FEB900;
$rankDefault-bgk: #B5B5B5;
$rankBtn-bgk: #0098FF;

// system btn
$systemBtnColor-bgk: #5399FF;
$systemCheckboxColor-bgk: #FF7739;

// review
$defaultCircleBtn-bgk: #D8D8D8;
$finishCircleBtn-bgk: #DE6E4B;
$defaultJoinText-bgk: #B3B3B3;
$defaultJoinBg-bgk: #F4F4F4;
$JoinActiveBg-bgk: #E6F8ED;
$defaultStatusBg-bgk: #D3D3D3;
$ingStatusBg-bgk: #FEB24D;
$noStartStatusBg-bgk: #42B3FF;

// exam
$examAnswerBg-bgk: #f4f7fd;
$examTextActive-bgk: #fc984e;
$examActiveBg-bgk: #fc984e;

// exam
$examRightBg-bgk: #e6f8e4;
$examRightBorder-bgk: #9de08b;
$examRightText-bgk: #3ab32e;
$examWrongBg-bgk: #ffe6e6;
$examWrongBorder-bgk: #ffc7c7;
$examWrongText-bgk: #fc4e51;
$examEmptyBorder-bgk: #cbcbcb;

// tag
$tagBg-bgk: rgba(0, 123, 211, .1);
$tagBorder-bgk: rgba(0, 123, 211, .2);
