.new__detail {
    width: 640px;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 100px;
    font-size: 16px;
    line-height: 1.4;

    .news__title {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
    }

    .news__tips {
        text-align: center;
        color: $textSub;
        font-size: 14px;
    }

    .news__time {
        margin-right: 70px;
    }

    .news__cover {
        width: 400px;
        margin: 0 auto;
        display: block;
    }

    img {
        max-width: 100%;
    }
}
