.exam-score-container {
    padding: 20px;

    .mark__nav {
        padding-bottom: 20px;
        font-size: 14px;
        border-bottom: 1px solid $borderColor;
        display: flex;
        flex-direction: row;
    }

    .mark__nav__left {
        flex: 1;
    }

    .mark__nav__right {
        .active {
            color: $examTextActive;
        }
    }

    .nav__right__item {
        margin-left: 20px;
    }

    .mark__nav__title {
        font-size: 18px;
    }

    .mark__nav__desc {
        color: $textSub;
    }

    .mark__nav__info {
        margin-top: 10px;
        display: flex;

        label {
            color: $textTips;
            font-weight: 500;
        }
    }

    .mark__nav__item {
        margin-right: 40px;
    }

    .mark__question__type {
        position: relative;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        color: #959da8;

        &:before {
            position: relative;
            display: inline-block;
            content: '';
            width: 5px;
            height: 20px;
            @include bg_primary();
            vertical-align: text-bottom;
            margin-right: 5px;
        }
    }

    .question__list {
        padding: 0 35px;
    }

    .question__item {
        font-size: 14px;
        //border-top: 1px dashed $borderColor;
        padding: 20px 0;

        .qustion__info {
            display: flex;
            align-items: self-start;
            line-height: 20px;
        }

        .question__desc {
            flex: 1;
            line-height: 20px;
            margin-left: 5px;
            display: inherit;
        }

        .el-form-item__label {
            color: $examTextActive;

            &:before {
                width: 0;
            }
        }

        span {
            vertical-align: middle;
        }

        .el-input--small {
            width: 70px;
        }

        .right__answer {
            font-size: 14px;
            background: $examAnswerBg;
            padding: 15px 20px;
            margin-top: 16px;
            color: $textSub;
            display: flex;
            box-sizing: border-box;
            line-height: 20px;
        }

        .answer__desc {
            flex: 1;
            display: inherit;
        }

        .user__answer {
            margin-top: 16px;

            .el-form-item__label {
                font-size: 14px;
                color: $textSub;

                &:before {
                    width: 0;
                }
            }

            .el-textarea {
                width: 800px;
            }
        }
    }

    .mark__score__total {
        height: 60px;
        line-height: 60px;
        border-top: 1px dashed $examActiveBg;
        background: #fffaf6;
        padding: 0 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .mark__score__item {
        margin-right: 40px;
        color: $textSub;

        .score {
            color: $examTextActive;
        }
    }

    .mark__btn {
        margin: 30px 35px;
        text-align: center;
    }

    .no__judge__line {
        height: 60px;
        line-height: 60px;
        color: $textTips;
        text-align: center;
        background-color: #FBFBFB;
    }
}
